[tool.poetry]
name = "rotary-controller-python"
version = "0.1.6"
description = "Rotary Controller Python"
authors = ["Stefano Bertelli <bartei81@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "rotary_controller_python"}]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1.10.6"
pyyaml = "^6.0"
minimalmodbus = "^2.0.1"
cachetools = "^5.3.0"
pytest = "^7.2.2"
coverage = "^7.2.2"
loguru = "^0.7.0"
kivy = {version = "^2.2.0"}
jinja2 = "^3.1.2"


[[tool.poetry.source]]
name = "kivy"
url = "https://kivy.org/downloads/simple/"
default = false
secondary = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_toml = "pyproject.toml:tool.poetry.version"
patch_without_tag = true
branch = "main"
hvcs = "github"
remove_dist = false
upload_to_pypi = true
build_command = "pip install poetry && poetry build"